:root {
  --primary: #1dd3bd;
  --secondary: #fcfcfc;
}

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: var(--secondary);
}

.App {
  max-width: 1200px;
  margin: 5rem auto;
  background-color: #fff;
  padding: 2rem;
}